.banner-section {
  background-image: url("../src/images/bannerbackground.png");
  height: 500px;
  background-size: 111% ​;
  background-position: center center;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-nav a {
  margin-left: 20px;
}
.footer-area {
  background: rgb(14, 8, 8);
  padding: 50px 0;
}
.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-menu li a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.footer-bottom-menu li {
  display: inline;
  margin-right: 20px;
}
.footer-bottom-menu li a {
  text-decoration: none;
  color: #fff;
}
.copyright-text {
  color: #ccc;
}
a .food-card,
a {
  color: #000;
  text-decoration: none !important;
}
.food-card img {
  width: 200px;
  margin: auto;
}

.food-card:hover {
  box-shadow: 1px 3px 22px -12px #000;
  transition-duration: 0.5s;
}
.food-menu a,
.food-menu a:hover {
  color: #dc3545;
}
